#pageWrapper {
    background-color: #462521;
    color: #FFE0B5;
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
    /* styling op wrapper zorgt voor vreemde scaling */
    height: 100vh;
}


    #titel {
        justify-content: center;
        align-items: center;
        align-content: center;
        text-align: center;
        background-color: #CA2E55;
        color: #FFE0B5;
        padding: 1vh;
    }


#play, #pause {
    margin: 2em;
}

    #play, #pause {
        margin: 11px;
    }

    #centerDiv {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        border-radius: 10px;
        background-color: #8A6552;
        margin-top: 2vw;
        width: fit-content;
        padding-left: 2em;
        padding-right: 2em;
        position: center;
        margin-left: auto;
        margin-right: auto;

    }

    #playButtons {
        background-color: #462521;
        display: flex;
        justify-content: space-between;
    }

    #Section1 {
        background-color: #462521;
        display: flex;
        flex-direction: column;
        padding: 2vw;
        margin-top: 1vw;
        border-radius: 25px;


    }

    #Section2 {
        background-color: #462521;
        display: flex;
        flex-direction: row;
        padding: 2vw;
        width: 4em;
        border-radius: 25px;


    }

    #Section3 {
        background-color: #462521;
        display: flex;
        padding: 1em;
        margin-top: 1em;
        border-radius: 25px;
        justify-content: space-around;
        margin-bottom: 1em;

    }

    #playerScore {
        padding-left: 1em;
    }

    #sumbit {
        padding: 1em;
        border-radius: 10px;
        
    }

    #songName, #artistName {
        margin: 3vh;
    }

    #SongPlayPause {
        padding: 1em;
        margin-top: 1em;
        border-radius: 1em;
    }

