* {
    background-color: #462521;
    color: white;
    font-family: 'Josefin Sans', sans-serif;

}

#titel {
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    background-color: #CA2E55;
    color: #FFE0B5;
    padding: 1vh;
}

#currentSong {
}

#play, #pause {
    margin: 11px;
}

#centerDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 10px;
    background-color: #8A6552;
    margin-top: 2vw;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

#playButtons {
    background-color: #462521;
    display: flex;
    justify-content: space-between;
}

#Section1 {
    background-color: #462521;
    display: flex;
    flex-direction: column;
    padding: 2vw;
    margin-top: 1vw;
    width: 280px;
    border-radius: 25px;


}

#Section2 {
    background-color: #462521;
    display: flex;
    flex-direction: row;
    padding: 2vw;
    width: 280px;
    border-radius: 25px;


}

#Section3 {
    background-color: #462521;
    display: flex;
    flex-direction: row;
    padding: 3vw;
    margin-top: 2vw;
    border-radius: 25px;

    text-align: justify;
}

#playerScore {
    margin-left: 28vh;
}

#sumbit, #nextSong {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

#songName, #artistName{
    margin: 3vh;
}

#SongPlayPause {
    padding: 10px;
    margin-top: 5px;
    border-radius: 10px;
}